.App {
    text-align: center;
    background-color: #f2f2f2;
    min-height: 100vh;
    height: auto;
}

.home {
    margin: auto;
    padding: 20px;
}

.table-div {
    background-color: white;
    padding: 20px;
}

.ag-header-cell-text {
    font-size: 15px;
    color: black;
    height: auto;
}